body{
	background-color: #ebe8df;
	padding:0px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
	width:100%
}

section {
	width: clamp(300px, 80%, 1080px);
	margin: auto;
	padding: 20px 50px 10px 50px;
	background-color:#f5f4ef;
	color: #000000;
	max-width:100%;
	box-sizing: border-box;
}

h1 {
	text-align:center;
	font-size:3em;
	line-height: 1.5em;
	margin-bottom:0px;
}

p {
	color: inherit;
	line-height:1.5em;
}

section.indented div{
	padding-left: 50px;
}

section.footer{
	width:100%;
	margin:auto;
	text-align:right;
	padding: 20px 100px 30px 100px;
	box-sizing: border-box;
	background-color: #ebe8df;
	color:#000000;
}
section.footer h2{
	font-size:1.0em;
	line-height: 1.5em;
	font-weight:normal;
}
a {
	font-weight: bold;
	text-decoration:none;
	color: #d0d0d0;
	border-radius: 10px;
	border-width: 0px;
	padding:4px 10px;
	font-size:1.0em;
	transition: 1.0s;
	line-height: 2.0em;
	
}
a:hover{
	text-decoration:underline;
}

div#header_text, div#div_title{
	display:inline;
}

div#div_title{
	text-align:center;
	font-size:clamp(1.2em,4vw,2em);
	line-height:clamp(1.3em,5vw,2.2em);
	margin-bottom:0px;
}

section.header{
	width:100%;
	margin:auto;
	text-align:center;
	padding: 20px 100px 30px 100px;
	box-sizing: border-box;
	background-color: #ebe8df;
	color:#ffffff;
}

a#header_home{
	font-weight: bold;
	text-decoration:none;
	border-radius: 10px;
	border-width: 0px;
	padding:5px 12px;
	font-size:clamp(1.2em,4vw,2em);
	line-height: clamp(1.3em,5vw,2.2em);
	transition: 1.0s;
	background:inherit;
	color: inherit;
}
