body{
	background-color: #cbc7b3;
	padding:0px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
	width:100%;
}

section {
	width: 100%;
	padding: 20px 50px 10px 50px;
	background-color:#f6f6f6;
	color: #000000;
	max-width:100%;
	box-sizing: border-box;
}

h1 {
	text-align:center;
	font-size:3em;
	line-height: 1.5em;
	margin-bottom:0px;
}

p {
	color: inherit;
	line-height:1.5em;
}


a {
	font-weight: bold;
	text-decoration:none;
	color: #303030;
	border-radius: 10px;
	border-width: 0px;
	padding:4px 10px;
	font-size:1.0em;
	transition: 1.0s;
	line-height: 2.0em;
	
}
a:hover{
	text-decoration:underline;
	color: #000000;
}

/*=============AESTHETIC WRAPPER CONFIG==============*/

.wrapper{
  	width: clamp(300px, 80%, 1080px);
	padding:0px;
	margin: auto;
	border-right: 10px;
	border-color:#000000DD;
}
/*=============END AESTHETIC WRAPPER CONFIG==============*/


/*=============HEADER CONFIG=========*/
div#header_text, div#div_title{
	display:inline;
}

div#div_title{
	text-align:center;
	font-size:clamp(1.2em,4vw,2em);
	line-height:clamp(1.3em,5vw,2.2em);
	margin: auto;
	margin-bottom:0px;
}

section.header{
	width:100%;
	margin:auto;
	text-align:center;
	padding: 20px 100px 30px 100px;
	box-sizing: border-box;
	background-color: #ebe8df;
	color:#000000;
}

a#header_home{
	font-weight: bold;
	text-decoration:none;
	border-radius: 10px;
	border-width: 0px;
	padding:5px 12px;
	font-size:clamp(1.2em,4vw,2em);
	line-height: clamp(1.3em,5vw,2.2em);
	transition: 1.0s;
	background:inherit;
	color: inherit;
}
a#header_home:hover{
	text-decoration: underline;
}
/*===================END HEADER CONFIG=================*/



/*=========MENU CONFIG=========*/
/*Menu Container*/
div#menu{
	background-color:#ebe8e1;
	padding:10px;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: flex-start;
	gap: 10px 20px;
}

/*Menu Items*/
#menu div{
	border: 1px solid gray;
	/* replaced by the above
	border-width:1px;
	border-color:#000000;
	*/
	border-radius:10px;
	padding:10px; /*inside border*/
	background-color:#efeee9;
	color:#000000; /*font color */
	flex: auto;
	/* replaced by the above
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis:  auto;
	*/
	align-self: auto;
}

#menu > div:hover{
	border: 1px solid black;
}

/*Menu hyperlinks*/
#menu > a{
	text-decoration:none;
	font-size:1.5em;
	line-height: 2.0em;
	color:#303030;
	
}

/*Menu hyperlinks when hovered over*/
#menu > a:hover{
	text-decoration:underline;
	color:#000000;
}

/*=========END MENU CONFIG==========*/



/*========Footer Config=============*/
section.footer{
	width:100%;
	margin:auto;
	text-align:right;
	padding: 20px 100px 30px 100px;
	box-sizing: border-box;
	background-color: #ebe8df;
	color:#000000;
}

section.footer h2{
	font-size:1.0em;
	line-height: 1.5em;
	font-weight:normal;
}
/*==========END FOOTER DATA==================*/
